<div class="layout flex w-screen h-screen">
  <nav>
    <div class="nav--header"><a href="https://github.com/lucasggd">Lucas Dias</a></div>
    <div class="nav--content">
      <div class="content--item">
        <div (click)="expandMenu(buttonList)" class="content-item--title">Button - List</div>
        <div #buttonList class="content-item--list">
          <a routerLink="/button/1705">
            <p>Buttton - 1705</p>
          </a>
          <a routerLink="/button/1705-2">
            <p>Buttton - 1705-2</p>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <main class="flex-1">
    <router-outlet />
  </main>
</div>
